//! **************************************************************************
// Written by: Map P.20131013 on Sat Jul 01 15:54:44 2017
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_B<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "T7" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "COMMAND<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "COMMAND<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "COMMAND<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "COMMAND<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "COMMAND<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "COMMAND<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "COMMAND<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "COMMAND<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "BTN<1>" LOCATE = SITE "C4" LEVEL 1;
COMP "BTN<2>" LOCATE = SITE "C9" LEVEL 1;
COMP "BTN<3>" LOCATE = SITE "D9" LEVEL 1;
COMP "KEY<0>" LOCATE = SITE "U8" LEVEL 1;
COMP "KEY<1>" LOCATE = SITE "V8" LEVEL 1;
COMP "KEY<2>" LOCATE = SITE "T5" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "SEG<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "N6" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "P7" LEVEL 1;
COMP "CLOCK_100" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

